* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background: rgb(14, 14, 30);
}
.wrapper .wrap {
  background-image: url(../images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.wrapper .menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  padding: 5rem;
  color: white;
}
.wrapper .menu h1 {
  font-size: 3rem;
}
.wrapper .menu .heading ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.wrapper .menu .heading ul li {
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  word-spacing: 0.2rem;
}
.wrapper .top {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.wrapper .top h3 {
  color: white;
  width: 40rem;
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
}
.wrapper .top p {
  color: white;
  width: 40rem;
  font-size: 1.6rem;
  text-align: center;
}
.wrapper .top li {
  list-style: none;
  text-align: center;
  padding: 3rem;
}
.wrapper .top li a {
  text-decoration: none;
  background: lightskyblue;
  padding: 1rem 4rem;
  border-radius: 2rem;
}
.wrapper .access {
  background: hsl(218deg, 28%, 13%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  text-align: center;
  color: white;
  gap: 5rem;
  padding: 10rem;
  align-items: center;
  justify-content: center;
}
.wrapper .access p {
  font-size: 1.1rem;
  padding: 1rem;
}
.wrapper .productive {
  background: hsl(218deg, 28%, 13%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  align-items: center;
  justify-content: center;
  color: white;
  padding-left: 20rem;
}
.wrapper .productive h1 {
  width: 20rem;
  font-size: 2rem;
  padding: 0.6rem;
}
.wrapper .productive p {
  width: 30rem;
  padding: 0.6rem;
}
.wrapper .productive li img {
  width: 12px;
}
.wrapper .productive li {
  list-style: none;
  padding: 0.6rem;
}
.wrapper .productive li a {
  color: aqua;
}
.wrapper .photo {
  background: hsl(218deg, 28%, 13%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  color: white;
  align-items: center;
  justify-content: center;
  padding-bottom: 20rem;
  padding-top: 10rem;
}
.wrapper .photo .quote {
  position: absolute;
  margin-left: 25.5rem;
  margin-top: -7rem;
}
.wrapper .photo .pics {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.wrapper .photo .easy {
  font-size: 0.8rem;
}
.wrapper .photo .three {
  position: relative;
  width: 20rem;
  background: hsl(219deg, 30%, 18%);
  height: 10rem;
  padding: 1rem;
}
.wrapper .photo .fit {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 10px;
  margin-top: 20px;
}
.wrapper .photo .fit .founder {
  font-size: 0.5rem;
}
.wrapper .photo .fit .bruce {
  font-size: 0.8rem;
}
.wrapper .photo .get {
  width: 45rem;
  height: 14rem;
  position: absolute;
  margin-top: 45rem;
  margin-left: 35rem;
  background: hsl(219deg, 30%, 18%);
  padding: 2rem;
  text-align: center;
}
.wrapper .photo .get p {
  padding: 1.8rem;
}
.wrapper .photo .get li {
  list-style: none;
  text-align: center;
}
.wrapper .photo .get li a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  background: lightskyblue;
  border-radius: 1rem;
  color: white;
}
.wrapper .photo .get .system {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrapper .photo .get .system input {
  padding: 0.5rem 3rem;
  border-radius: 2rem;
}
.wrapper .finish {
  color: white;
  padding: 10rem;
  line-height: 2rem;
  grid-gap: 20px;
}
.wrapper .finish .semi {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10rem;
}
.wrapper .finish .semi .icon {
  width: 20px;
  height: 20px;
}
.wrapper .finish .semi .zoom {
  display: flex;
}
.wrapper .finish .semi p {
  padding-left: 20px;
}

@media (min-width: 700px) {
  .wrapper .menu {
    display: grid;
    grid-template-columns: none;
  }
  .wrapper .menu .heading ul {
    display: grid;
    grid-template-columns: none;
  }
  .wrapper .productive {
    padding-left: 0;
  }
  .wrapper .photo .get {
    width: 35rem;
    margin-left: 5rem;
  }
  .wrappper .top img {
    width: 3rem;
  }
  .wrapper .finish .semi {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(40rem, 1fr));
    gap: 10px;
  }
  .wrapper .top .set img {
    width: 30rem;
  }
}
@media (min-width: 500px) {
  .wrapper .menu {
    display: grid;
    grid-template-columns: none;
  }
  .wrapper .top .set img {
    width: 20rem;
  }
  .wrapper .top {
    display: block;
  }
  .wrapper .top h3 {
    width: 30rem;
  }
  .wrapper .top p {
    width: 30rem;
  }
  .wrapper .productive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-left: 10rem;
  }
  .wrapper .productive img {
    width: 20rem;
  }
  .wrapper .productive p {
    width: 10rem;
  }
  .wrapper .photo .get {
    margin-left: 1rem;
    width: 28rem;
  }
  .wrapper .photo .get .system {
    display: block;
    grid-template-columns: none;
  }
  .wrapper .photo .get li a {
    padding: 0;
    background: none;
  }
  .wrapper .finish .semi {
    display: block;
  }
}
@media (min-width: 400px) {
  .wrapper .menu {
    display: grid;
    grid-template-columns: none;
  }
  .wrapper .top .set img {
    width: 15rem;
  }
  .wrapper .top {
    display: block;
  }
  .wrapper .top h3 {
    width: 20rem;
  }
  .wrapper .top p {
    width: 20rem;
  }
  .wrapper .access {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .wrapper .productive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-left: 5rem;
  }
  .wrapper .productive img {
    width: 10rem;
  }
  .wrapper .productive p {
    width: 7rem;
  }
  .wrapper .photo .quote {
    position: relative;
    margin-left: 0;
  }
  .wrapper .photo .three {
    width: 15rem;
  }
  .wrapper .photo .get {
    margin-left: 1rem;
    width: 20rem;
  }
  .wrapper .photo .get .system {
    display: block;
    grid-template-columns: none;
  }
  .wrapper .photo .get li a {
    padding: 0;
    background: none;
  }
  .wrapper .finish .semi {
    display: block;
  }
  .wrapper .finish .semi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 5rem;
  }
}
@media (min-width: 375px) {
  .wrapper .menu {
    display: grid;
    grid-template-columns: none;
  }
  .wrapper .top .set img {
    width: 20rem;
  }
  .wrapper .top {
    display: block;
  }
  .wrapper .top h3 {
    width: 20rem;
  }
  .wrapper .top p {
    width: 20rem;
  }
  .wrapper .access {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .wrapper .productive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-left: 5rem;
  }
  .wrapper .productive img {
    width: 10rem;
  }
  .wrapper .productive p {
    width: 7rem;
  }
  .wrapper .photo .quote {
    position: relative;
    margin-left: 0;
  }
  .wrapper .photo .three {
    width: 15rem;
  }
  .wrapper .photo .get {
    margin-left: 1rem;
    width: 20rem;
  }
  .wrapper .photo .get .system {
    display: block;
    grid-template-columns: none;
  }
  .wrapper .photo .get li a {
    padding: 0;
    background: none;
  }
  .wrapper .finish .semi {
    display: block;
  }
  .wrapper .finish .semi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 5rem;
  }
}/*# sourceMappingURL=style.css.map */